.background{
    background-image: url("imaginedragons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

.header{
    padding: 1%;
    text-align: center;
    background: rgba(130, 163, 255, 0.5);
    color: black;
    position: relative;
    bottom: 0px;
}

.subheader{
    text-align: center;
    color: black;
    font-size:30px;
    font-family: 'Kaushan Script', cursive;
}

.flex{
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: black;} /* Blue */

.bottom{
    /* padding: 1%; */
    text-align: center;
    background: #6495ED;
    color: black;
    opacity: 0.5;
    position: relative;
    width: 100%;
    bottom: 0;
}

.topbuttons{
    text-decoration: none;
    color: black;
    font-family: 'Kaushan Script', cursive
}

.topbuttons:hover{
    color:blue;
    transition-duration: 0.2s;
    background-color:white;
}

.sort{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    margin: 0 3%; /* top-bottom, left-right */
    /* gap: 5rem; */

}

.fa-brands{
    font-size: 30px;
    padding: 25px;
    color: black;
}

.fa-solid{
    font-size: 30px;
    padding: 40px;
    color: grey;
}

.fa-youtube:hover{
    transition-duration: 0.4s;
    background-color: red;
}

.fa-instagram:hover{
    transition-duration: 0.4s;
    background-color: pink;
}

.fa-twitter:hover{
    transition-duration: 0.4s;
    background-color: lightblue;
}

.fa-spotify:hover{
    transition-duration: 0.4s;
    background-color: green;
}

.fa-apple:hover{
    transition-duration: 0.4s;
    background-color: white;
}

.fa-facebook:hover{
    transition-duration: 0.4s;
    background-color: blue;
}

.change-color{
    color: #357EC7;
}

.change-color:hover{
    color: #F5F5F5;
    transition-duration: 0.2s;
}

.move-right{
    margin-left: 20%;
}

.center{
    margin-top: 8%;
    margin-left: 27%;
    width: 50%;
    padding: 0;

}

.flex{
    display: flex;
}

/* c */

* {box-sizing: border-box}
.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
}

/* Next & previous buttons */
.previous, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.previous{
    left: 0; /* make the button all the way to the left */
    border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next{
    right: 0; /* make the button all the way to the right */
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previous:hover, .next:hover { 
  background-color: rgba(0,0,0,0.8); /* make buttons change colour when hovered */
}

/* Caption text */
.text {
  color: black;
  font-size: 20px;
  bottom: 8px;
  width: 100%;
  text-align: left;
  font-family: 'Alata', sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* end */
.float-left{
    float: left;
}










